.navbar {
    height: 80px;
    background-color: var(--background);
    /* Or Surface if sticky */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--spacing-8);
    position: sticky;
    top: 0;
    z-index: 5;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: var(--spacing-4);
}

.page-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-main);
}

.menu-btn {
    display: none;
    color: var(--text-main);
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: var(--spacing-6);
}



.user-profile {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--surface);
    box-shadow: var(--shadow-sm);
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text-main);
}

.user-role {
    font-size: 0.75rem;
    color: var(--text-muted);
}

/* Responsive */
@media (max-width: 768px) {
    .sidebar {
        width: 0;
        padding: 0;
        overflow: hidden;
    }

    .navbar {
        padding: 0 var(--spacing-4);
    }

    .menu-btn {
        display: block;
    }

    .user-info {
        display: none;
    }

    /* Simplify for mobile */
}